{
  "version": "0.0.0-rc0",
  "stable": true,
  "files": [
    {
      "filename": "tor-darwin-amd64-0.0.0.0.tar.gz",
      "arch": "x64",
      "platform": "darwin",
      "download_url": "https://github.com/tor-actions/versions/releases/download/0.0.0.0/tor-darwin-amd64-0.0.0.0.tar.gz"
    },
    {
      "filename": "tor-linux-amd64-0.0.0.0.tar.gz",
      "arch": "x64",
      "platform": "linux",
      "download_url": "https://github.com/tor-actions/versions/releases/download/0.0.0.0/tor-linux-amd64-0.0.0.0.tar.gz"
    },
    {
      "filename": "tor-win32-0.0.0.0.tar.gz",
      "arch": "x64",
      "platform": "win32",
      "download_url": "https://github.com/tor-actions/versions/releases/download/0.0.0.0/tor-win32-0.0.0.0.tar.gz"
    }
  ]
}
